.nav{
    display: flex;
    width: 100%;
    justify-Content: space-between;
    background-Color: #e47c7c80;
  }
  .icon {
    display: none;
  }
@media screen and (max-width: 600px) {
  .nav a {display: none;}
  .nav button {display: none;}
  .nav a:is(:last-child) {
    float: right;
    display: block;
  }
}