@media (max-width:667px) {
    /* body{ background-color: green;} */
   .newsCards{
    flex-direction: column;
    margin-left: 10px;
   }
    
    .headingDiv{
        height: 40vh;
    }
}

@media screen and (max-width: 667px) {
    .nav.responsive {position: relative;}
    .nav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .nav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }